---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Uzmanlık Alanları',
};
---

<Layout metadata={metadata}>
 
  <!-- Hero Widget ******************* 

  <Hero
    tagline="Services"
    title="Elevate your projects with our stunning templates"
    subtitle="Explore our meticulously crafted templates tailored to various industries and purposes. From captivating presentations to functional website designs, we offer the tools you need to succeed."
    actions={[{ variant: 'primary', target: '_blank', text: 'Start exploring', href: '/' }]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'AstroWind Hero Image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Uzmanlık Alanları"
    subtitle="Prof. Dr. Alp Burak Çatakoğlu'nun 25 yıldan daha fazla tecrübesi ile teşhis ve tedavideki uzmanlık alanları."
    columns={3}
    items={[
      {
        title: 'Koroner Anjiyografi',
        description:
          'El bileğinden lokal anestezi ile 5 dakikada koroner damarların detaylı görüntülemesi yapılabilmektedir. 1-2 saat içerisinde taburculuk mümkün.',
        icon: 'tabler:trending-down-3',
        link: 'anjiyo'
      },
      {
        title: 'Balon ve Stent',
        description:
          'Koroner damarlardaki kritik darlıklar, açık bypass ameliyatı yerine, el bileğinden lokal anestezi ile, stent ve balon kullanılarak tedavi edilebilmektedir.',
        icon: 'tabler:arrow-rotary-straight',
        link: 'stent'
      },
      {
        title: 'TAVİ',
        description: `Aort darlıklarında, açık ameliyata gerek kalmadan, kasıktan girilerek biyolojik kapak yerleştirilebilmketedir. Sedasyon ile yapılan işlemden 1-2 gün sonra taburculuk mümkün. `,
        icon: 'tabler:oval-vertical',
      },
      {
        title: 'MitraClip ve TriClip',
        description:
          'İleri derecede mitral veya triküspit yetmezlikte kasıktan girilerek mitral kapağa yerleştirilen mandal benzeri kliplerle ameliyatsız tedavi başarılı sonuçlar vermektedir.',
        icon: 'tabler:location',
        link: 'mitraclip'
      },
      {
        title: 'ASD Kapatma',
        description:
          'Kalp içinde doğuştan iki boşluğu ayıran septum denilen duvarda var olabilen delikler, kasıktan girilerek şemsiye benzeri cihazlarla kapatılabilmektedir.',
        icon: 'tabler:inner-shadow-bottom-right',
        link: 'asd-kapatma'
      },
      {
        title: 'PFO Kapatma',
        description:
          'Beyne veya vücuda atan pıhtıların bazen kaynağı kalpte doğumda kapanmayan formaen ovale adındaki delik olabilmektedir. Kasıktan girilerek bu delikler ameliyatsız kapatılmaktadır.',
        icon: 'tabler:inner-shadow-top-right',
        link: 'pfo-kapatma'
      },
      {
        title: 'LAA Kapatma',
        description:
          'Kalbin sağ kulakçığındaki apendiks adlı kesecikte bazı riritm bozukluklarında felce neden olan pıhtılar oluşabilmektedir. Bu kese kasıktan girilerek kapatılabilir.',
        icon: 'tabler:health-recognition',
        link: 'laa-kapatma'
      },
      {
        title: 'Karotis Stentleme',
        description: `Beyni besleyen şah damarlarımızdaki (karotis) kritik darlıklar, kasıktan girilerek stent ile tedavi edilebilmektedir. Özel filtreler kullanılarak yapılan işlemler daha güvenlidir.`,
        icon: 'tabler:user-heart',
        link: 'karotis-stent'
      },
      {
        title: 'Renal Denervasyon',
        description:
          'Hipertansiyonda ilaçsız tedavi ile tansiyonu düşürmek renal denervasyon ile mümkün. 30 dakikalık, kasıktan girilerek yapılan bu tedavi ile kalıcı tansiyon kontrolü sağlanmaktadır.',
        icon: 'tabler:graph',
        link: 'renal-denervasyon'
      },
    ]}
    >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Content Widget **************** 

  <Content
    isReversed
    items={[
      {
        title: 'High-Quality Designs',
        description:
          'Our templates feature top-tier designs that ensure a professional and polished appearance for your projects.',
        icon: 'tabler:wand',
      },
      {
        title: 'Customization Tools',
        description:
          'Tailor each template to your unique needs with user-friendly customization tools that let you personalize colors, fonts, and content.',
        icon: 'tabler:settings',
      },
      {
        title: 'Pre-Designed Elements',
        description:
          'Save time and effort with our ready-to-use elements, including graphics, icons, and layouts that enhance the visual appeal of your creations.',
        icon: 'tabler:presentation',
      },
      {
        title: 'Preview and Mockup Views',
        description:
          'Visualize the final outcome before making any changes using our preview and mockup views, ensuring your projects meet your expectations.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
    </Fragment>
  </Content> 

  <!-- Content Widget **************** 

  <Content
    isAfterContent
    items={[
      {
        title: 'Time Savings',
        description:
          'Streamline your workflow, enabling you to create stunning materials efficiently and allocate more time to your core tasks.',
        icon: 'tabler:clock',
      },
      {
        title: 'Professional Appearance',
        description:
          'Elevate your projects with the polished and sophisticated look that our templates provide, making a lasting impression on your audience.',
        icon: 'tabler:school',
      },
      {
        title: 'Cost-Efficiency',
        description:
          'Benefit from cost savings by avoiding the need for custom design work, as our templates offer professional-grade designs at a fraction of the cost.',
        icon: 'tabler:coin',
      },
      {
        title: 'Instant Download',
        description:
          'Enjoy immediate access to your chosen templates upon purchase, enabling you to begin working on your projects without delay.',
        icon: 'tabler:file-download',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Benefits</h3>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** 

  <Testimonials
    title="Words from real customers"
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Emily Kennedy',
        job: 'Front-end developer',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        name: 'Sarah Hansen',
        job: 'Photographer',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'Mark Wilkinson',
        job: 'Small business owner',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials...',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Randevu alın',
        href: 'iletisim',
      },
    ]}
    title="Bize danışın!"
    subtitle="Prof. Dr. Alp Burak Çatakoğlu'na online veya hastane randevusu alarak danışabilirsiniz. Size ameliyata alternatif tedavi seçeneklerini ayrıntıları ile anlatacak ve sorununza çözüm bulacaktır."
  />
</Layout>
