---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';
import { Schema } from "astro-seo-schema";
import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;

// Destructure the metadata for the JSON-LD schema
const {
  title,
  description,
  publishDate,
  updateDate,
  author = "Prof. Dr. Alp Burak Çatakoğlu",
  image = "https://catakoglu.com/_astro/anjiyo.PE1aY68E_6Q3TD.webp",
  schema
} = metadata || {};
---

<Layout metadata={metadata}>

  <head>
    {publishDate && !schema && (
      <Schema
        item={{
          "@context": "https://schema.org",
          "@type": "BlogPosting",
          "headline": title,
          "description": description,
          "datePublished": publishDate,
          "dateModified": updateDate || publishDate,
          "image": image,
          "author": {
            "@type": "Person",
            "name": author
          },
          "publisher": {
            "@type": "Organization",
            "name": "Prof. Dr. Alp Burak Çatakoğlu",
            "url": "https://catakoglu.com"
          },
          "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://catakoglu.com"
          }
        }}
      />
    )}
    {schema && (
      Array.isArray(schema) ? (
        schema.map((item) => <Schema item={item} />)
      ) : (
        <Schema item={schema} />
      )
    )}
  </head>

  <!-- Announcement Widget ******************* -->
  <!--  <slot name="announcement">
    <Announcement />
  </slot> -->

  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>

  <main>
    <slot />
  </main>

  <slot name="footer">
    <Footer {...footerData} />
  </slot>

</Layout>
